body {
    margin: 0;
    padding: 0;
  }
  
  h2,
  h3 {
    margin: 10px;
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1em;
    margin: 10px;
    text-align: left;
  }
  
  /**
  * Create a position for the map
  * on the page */
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  /**
  * Set rules for how the map overlays
  * (information box and legend) will be displayed
  * on the page. */
  .map-overlay {
    position: absolute;
    bottom: 0px;
    left: 30px;
    background: rgba(0,0,0, 0.6);
  -webkit-text-fill-color: #fff;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    width: 20%;
  }
  
  #features {
    top: 0;
    height: 80px;
    margin-top: 20px;
    width: 360px;
  }
  
  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 55px;
    margin-bottom: 40px;
    width: 100px;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  .mapboxgl-popup {
    max-width: 300px;
  }
  a:link{
    color:rgb(0, 110, 255);
  }
  a:visited{
    color:rgb(0, 110, 255);
  }
  @media only screen and (max-width: 480px) {
    .mapboxgl-popup-content {
        max-width: 250px;
    }
    .mapboxgl-popup-content div {
        padding:0em;
    }
    .mapboxgl-popup-content p {
        margin: 0.5em 0.5em;
    }
}